.closeBtn {
  background-color: #ff1540 !important;
  color: white !important;
  font-weight: 550 !important;
  border: none !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-size: 15px !important;
}
.tab-btn {
  padding-top: 8rem;
  text-align: center;
}
.quick_second_table {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
}
