
body {
  --black: black;
  --background-color_4: rgb(243, 189, 243);
  --color_1: #4d4f5c;
  --color_2: #00000057;
  --background-color_1: #ffffff;
  --background-color_2: #f0f0f0;
  --background-color_3: #f5f6fa;
}

.awal-common-border-line {
  border-color: #21232c1f;
}

/* Loder CSS */
.spinner {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::before,
.spinner::after {
  border: 6.7px solid #3b36d4;
  border-radius: 50%;
  position: absolute;
  content: "";
  display: block;
}

.spinner::before {
  width: 33.6px;
  height: 33.6px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner::after {
  animation: spinner-1o3y8q 0.5s infinite linear;
  height: 56px;
  width: 56px;
  border-right-color: transparent;
  border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
  to {
    transform: rotate(360deg);
  }
}

.loader-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  /* Adjust the height as needed */
}

/* Loder CSS  ENDS*/